@if(connected) {
<div class="has-tooltip">
  @if(supported) {
  <oz-icon icon="circle" [size]="5" color="#26870d"></oz-icon>
  } @else {
  <ng-container *ngTemplateOutlet="notSupported"></ng-container>
  }
</div>
} @if(!connected) {
<div class="has-tooltip">
  <oz-icon icon="offline" [size]="5"></oz-icon>
</div>
}

<ng-template #notSupported>
  <oz-icon icon="circle_o" [size]="5"></oz-icon>
  <div class="tooltip delay-show">
    {{ 'TOOLTIPS.DEVICE_NOT_SUPPORTED' | translate }}
  </div>
</ng-template>
